<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Daftar Pegawai</h1>
	<table border="2">
		<tr>
			<th>Nomor Pegawai</th>
			<th>Nama Pegawai</th>
			<th>Gaji Pegawai</th>
			<th>Status Pegawai</th>
		</tr>
		<tr th:each="pegawaiModel:${pegawaiModelList}">
			<td><a th:text="${pegawaiModel.no}"></a></td>
			<td><a th:text="${pegawaiModel.namaPegawai}"></a></td>
			<td><a th:text="${pegawaiModel.gajiPegawai}"></a></td>
			<td><a th:text="${pegawaiModel.status}"></a></td>
		</tr>
	</table>
</body>
</html>